@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 6% 10%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 16%;

    --popover: 240 5% 96%;
    --popover-foreground: 240 4% 16%;

    --card: 240 5% 96%;
    --card-foreground: 240 4% 16%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;

    --primary: 240 10% 4%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 4% 16%;

    --accent: 240 6% 90%;
    --accent-foreground: 240 4% 16%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 240 6% 90%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 240 5% 96%;

    --muted: 240 6% 10%;
    --muted-foreground: 240 6% 90%;

    --popover: 240 6% 10%;
    --popover-foreground: 240 6% 90%;

    --card: 240 6% 10%;
    --card-foreground: 213 31% 91%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 10%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 240 4% 16%;
    --accent-foreground: 240 6% 90%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 240 4% 16%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}